# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
dev.log

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# non-project
skills/
scripts/
tool-results/
upload/
download/
.zscripts/
mini-services/
prisma/
db/
bun.lock
*.pid
Caddyfile
worklog.md